<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}The Feed Sanitizer</title>
	<meta name="author" content="Heiko Behrens">
	<meta name="description" content="free online RSS/ATOM feed normalizer/sanitizer.">
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}
	<link type="text/css" rel="stylesheet" href="/styles/style.css"/>
	<script type="text/javascript" src="/scripts/jquery-1.5.1.min.js"></script>	
	<script type="text/javascript" src="/scripts/jquery-ui-1.8.10.custom.min.js"></script>	
    {% block extra-head %}{% endblock %}
  </head>

  <body>
      <div id="content" class="column">
        {% block content-header %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
