{% extends 'base.html' %}
{% block title %}It works!{% endblock %}
{% block extra-head %}
{% if feed_xml %}
<script type="text/javascript" src="/scripts/shCore.js"></script>
<script type="text/javascript" src="/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="/styles/shCoreDefault.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% endif %}
{% endblock %}
{% block content %}
<div id="input">
<h1>Provide Your Contaminated Feed</h1>

<form id="form" name="form" method="get" action="/">
	
	<input type="text" name="url" class="url" value="{{first_url|default_if_none:"http://www.heikobehrens.net/feed/"}}" />
	<p>
	<div id="rssbutton">
		<input type="radio" name="format" id="rssbutton" value="rss" {% ifequal feed_format "rss" %}checked="checked"{% endifequal %} />rss
	</div>
	<div id="atombutton">
		<input type="radio" name="format" id="atombutton" value="atom" {% ifequal feed_format "atom" %}checked="checked"{% endifequal %} />atom
	</div>
	</p>
	<input type="submit" class="submit" id="urlsubmit" />
</form>
</div>
{% if feed_xml %}
<div id="result">
<h1>Take the Sanitized Result</h1>
<form name="result">
	Please copy the the link of the sanitized feed to your clipboard.
	<input type="text" name="result" class="url" value="{{feed_link}}" readonly="readonly"/>
	</form>
<p>
You can also follow the <a id="feedlink" class="feedformat_{{feed_format}}" href="{{feed_link}}">link to the sanitized feed</a> to open your feed aggregator.
</p>
<p>If you are curious, click on "expand source" to see how the result looks like.</p>
<pre class="brush: xml; class-name: 'code'; gutter: false; collapse: true;">
{{feed_xml}}
</pre>
</div>
{% endif %}

{% endblock %}
