{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<h1>Sanitize your Feed</h1>
<!--
	urls: {{urls}} 
	feed: {{feed}}
-->
<form id="form" name="form" method="get" action="/">
	
	<label>feed url</label>
	<input type="text" name="url" class="url" value="{{first_url|default_if_none:""}}" />
	<p>
	<input type="radio" name="format" value="rss" {% ifequal feed_format "rss" %}checked="checked"{% endifequal %} />rss<br />
	<input type="radio" name="format" value="atom" {% ifequal feed_format "atom" %}checked="checked"{% endifequal %} />atom<br />
	</p>
	<input type="submit" class="submit" id="urlsubmit" />
</form>

{% if feed_xml %}
<a href="{{feed_link}}">link to sanitized feed</a>
<pre>
{{feed_xml}}
</pre>
{% endif %}

{% endblock %}
