{% extends 'base.html' %}
{% block extra-head %}
{% if feed_xml %}
<script type="text/javascript" src="/scripts/shCore.js"></script>
<script type="text/javascript" src="/scripts/shBrushXml.js"></script>
<link type="text/css" rel="stylesheet" href="/styles/shCoreDefault.css"/>
<link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% endif %}
<script type="text/javascript">
	$(document).ready(function(){
		// disable form after submit
		$('#form').submit(function(){
			$('#urlsubmit').attr('disabled', 'disabled');
			$('#progressindicator').show();
			
		});
		// flash result
		$('div#result').effect('highlight', {color:'#689dde'}, 2000);
		// flash error
		$('div#error').effect('highlight', {color:'#ff0000'}, 2000);
		
		// show xml code
		$('#togglecode').click(function(ev){
			$('div.code').slideToggle();
			ev.preventDefault();
		});
		// select all text for feed url on focus
		$('input.url').focus(function(){
			this.select();
		}).mouseup(function(e){
			e.preventDefault()
		});
		// easy clicking for radio buttons
		$('div.radio').click(function(){
			$('input', this).attr('checked', true);
		});
		// supported types
		var supported = $('a#supported');
		console.log(supported);
		supported
			.append('<span style="display:none"> ('+supported.attr('title') +')</span>')
			.click(function(e){
				e.preventDefault();
				$(this).find("span").toggle();
			});
	});
</script>
{% endblock %}
{% block content %}
<div id="input">
<h1><emph>The Feed Sanitizer</emph> wants your contaminated feed</h1>
<p>
The Feed Sanitizer takes <a id="supported" href="http://www.feedparser.org/docs/introduction.html" title="based on Mark Pilgrim's feedparser it can handle RSS 0.90, Netscape RSS 0.91, Userland RSS 0.91, RSS 0.92, RSS 0.93, RSS 0.94, RSS 1.0, RSS 2.0, Atom 0.3, Atom 1.0, and CDF feeds. It also parses several popular extension modules, including Dublin Core and Apple's iTunes extensions">any news feed</a> and turns it into straight, normalized RSS 2.0/ ATOM 1.0.
This comes in handy if you are confronting with tangled or messed or knocked up feeds that are barely well-formed and want to parse these with a not-so-solid piece of software.
The Feed Sanitizer scrubs off the dirt and returns germ-free feeds.
</p>
<form id="form" name="form" method="get" action="/">
	What's the URL of the feed you are struggling with?
	<input type="text" name="url" class="url" value="{{first_url|default_if_none:"http://www.heikobehrens.net/feed/"}}" />
	<div id="formats">
		<p>
		Please choose the output format of the sanitized feed.
		</p>
		<div id="rssbutton" class="radio">
			<input type="radio" name="format" id="rssbutton" value="rss" {% ifequal feed_format "rss" %}checked="checked"{% endifequal %} />rss
		</div>
		<div id="atombutton" class="radio">
			<input type="radio" name="format" id="atombutton" value="atom" {% ifequal feed_format "atom" %}checked="checked"{% endifequal %} />atom
		</div>
	</div>
	<hr />
	<input type="submit" class="submit" id="urlsubmit" />
	<img id="progressindicator" style="display:none" src="/images/loader.gif" />
</form>
</div>
{% if error %}
<div id="error">
	<h1>Oops! An error occured...</h1>
	<p>Please <a href="https://github.com/hbehrens/feedsanitizer/issues" target="_blank">create a new issue for The Feed Sanitizer at GitHub</a> and provide the following text. This will help me to solve this error. 
	</p>
	<pre>
url: {{first_url}}
format: {{feed_format}}
{{error}}
	</pre>
</div>
{% endif %}
{% if feed_xml %}
<div id="result">
<h1>You joyfully receive the sanitized result</h1>
<form name="result">
	Please copy the link of the sanitized feed to your clipboard.
	<input type="text" name="result" class="url" value="{{feed_link}}" readonly="readonly"/>
	</form>
<p>
You can also follow the <a id="feedlink" class="feedformat_{{feed_format}}" href="{{feed_link}}">link to the sanitized feed</a> to fire up your feed aggregator.
</p>
<pre class="brush: xml; class-name: 'code'; gutter: false;" style="display:none">
{{feed_xml}}
</pre>
<p>If you are curious, <a id="togglecode" href="#">have a look at the resulting XML</a>.</p>
</div>
{% endif %}
<div id="references">
	<p><a href="http://HeikoBehrens.net">Heiko Behrens</a> built <span class="name">The Feed Sanitizer</span> with 
		<a href="http://www.python.org/">Python</a> and 
		<a href="http://www.allbuttonspressed.com/projects/djangoappengine">djangoappengine</a> 
		using several open-source libraries such as
		<a href="http://www.feedparser.org">feedparser</a> by <span class="name">Mark Pilgrim</span> and 
		<a href="http://alexgorbatchev.com/SyntaxHighlighter">SyntaxHighlighter</a> by <span class="name">Alex Gorbatchev</span>.
		RSS and ATOM icons were provided by courtesy of 
		<a href="http://www.feedicons.com">feedicons.com</a> and
		<a href="http://sniker.blogage.de/entries/2008/2/24/2-Vorschlaege-fuer-ein-offizielles-Atom-Feed-Icon">blogage.de</a>.
		<span class="name">The Feed Sanitizer</span> is open source, feel free to
		<a href="https://github.com/HBehrens/feedsanitizer">fork it on GitHub</a>.
	</p>
</div>

<a href="https://github.com/HBehrens/feedsanitizer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71?repo=&amp;url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_darkblue_121621.png&amp;path=" alt="Fork me on GitHub"></a>
{% endblock %}
