{% extends 'base.html' %}
{% block extra-head %}
<script type="text/javascript">
var feeds = [
	"http://blogs.itemis.de/?showfeed=1",
	"http://www.heikobehrens.net/feed/",
	"http://www.planeteclipse.org/planet/rss20.xml",
	"http://twitter.com/favorites/22677962.rss"
	];
	
var queue = $({});

function queueValidation(url, callback) {
	queue.queue('tests', function(next) {
		callback({"result":"pending"});
		$.get("{%url views.validate %}", {"url":url}, function(data){
			callback(data);
			// TODO if not cancelled
			next();
		});
	});
}



function queueRowValidation(idx) {
	var row = $('#tests table tbody tr')[idx];
	function fillcellFunc(cellclass) {
		var cell = $($(row).find("."+cellclass)[0]);
		//console.log(cell);
		return function(data) {
			var validatorUrl = "http://validator.w3.org/feed/check.cgi?url=" + escape(data.feed);
			cell.html('<div class="'+data.result+'"><a href="'+validatorUrl+'" title="'+data.recommendations+'" target="_blank">'+data.details+'</a></div>');
		}
	}
	
	var queueCellValidation = function(url, clazz) {
		var func = fillcellFunc(clazz);
		func({"result":"notyet"});
		queueValidation(url, func);
	}
	
	var urlFeed = feeds[idx];
	var urlRss = "http://{{request.META.HTTP_HOST}}{% url views.sanitize %}?format=rss&url=" + escape(urlFeed);
	var urlAtom = "http://{{request.META.HTTP_HOST}}{% url views.sanitize %}?format=atom&url=" + escape(urlFeed);
	
	queueCellValidation(urlFeed, "result_origin");
	queueCellValidation(urlRss, "result_rss");
	queueCellValidation(urlAtom, "result_atom");
}

function queueTests() {
	for(var i=0;i<feeds.length;i++) {
		queueRowValidation(i);
	}
}

function runtests() {
	$('#runtests').attr('disabled', 'disabled');
	
	queueTests();
	queue.queue("tests", function(next){
		$('#runtests').removeAttr('disabled');
		next();
	});
	queue.dequeue('tests');
}
	
$(document).ready(function(){
	for(var i=0; i<feeds.length;i++) {
		var feed = feeds[i];
		$('#tests table tbody').append('<tr><td class="url"><a href="/?url='+escape(feed)+'">'+feed+'</a></td><td class="result_origin"></td><td class="result_rss"></td><td class="result_atom"></td>');
	}
	
})
</script>
{% endblock %}
{% block content %}
<div id="tests">
	<table border=1>
		<thead>
			<tr>
				<th class="url">URL</th>
				<th class="result_origin">Original</th>
				<th class="result_rss">Sanitized RSS</th>
				<th class="result_atom">Sanitized ATOM</th>
			</tr>
			<tbody>
			</tbody>
		</thead>	
	</table>
	<input id="runtests" type="button" value="Run tests" onclick="runtests()" />
</div>	
{% endblock %}
