body {
    color: #333;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35em;
    padding-left: 5%;
    padding-right: 5%;
}

div#content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    font-size: larger;
}

div#input, div#result {
    margin-top: 0.5em;
    padding: 0.5em;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
/*
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px #888;
    box-shadow: 0 0 2px #888;
*/
}

div#input {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input.url {
    width: 95%;
    font-size: larger;
    border: solid 1px #CCCCCC;
}

form#form input.url {
    width: 99%;
}

hr {
    border: none;
    border-top: solid 1px #CCCCCC;
}

input#urlsubmit {
    margin-top: 0.2em;
    font-size: larger;
    border: solid 2px #CCCCCC;
    color: #333;
    border-radius:5px;
    -moz-border-radius:5px;
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ececec));
}

input#urlsubmit:hover {
    border-color: #3766a1;
    color: white;
    background: -moz-linear-gradient(top, #689dde 0%, #4074b4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#689dde), color-stop(100%,#4074b4));
}

div.code.syntaxhighlighter{
/*    
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
*/
    max-height: 250px !important;
}

div#formats div {
    margin-top: 0em;
    margin-left: 0.2em;
/*    border: 1px solid; */
    display: inline-block;
    padding-top: 40px;
    width: 64px;
    background-position:10px 0px;
}

div#rssbutton {
    background: url('/images/feed-icon-rss-32.png') no-repeat;
}

div#atombutton {
    background: url('/images/feed-icon-atom-32.png') no-repeat;
}

div#references {
    padding: 0 0.5em 0 0.5em;
    margin-top: 2em;
    color: #AAA;
    font-size: smaller;
    border: 1px solid #EEE;
    border-top: none;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#references h2 {
    margin-bottom: 0em;
    font-weight: normal;
} 

div#references p {
    margin-top: 0.5em;
}

div#references a {
    color: #555;
    text-decoration: none;
    border-bottom: dashed 1px #777;
}

div#references a:hover {
    color: white;
    background-color: black;
    border-bottom: none;
}

div#references span.name {
    color: #777;
}