body {
    color: #333;
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35em;
    padding-left: 5%;
    padding-right: 5%;
}

div#content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    font-size: larger;
}

div#input, div#result {
    margin-top: 0.5em;
    padding: 0.5em;
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
/*
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px #888;
    box-shadow: 0 0 2px #888;
*/
}

div#input {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input.url {
    width: 95%;
    font-size: larger;
    border: solid 1px #CCCCCC;
}

div.code.syntaxhighlighter{
/*    
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
*/
    max-height: 250px !important;
}